body{
    padding:0;
    display:flex;
    margin:0;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family: 'Courier New', Courier, monospace;
    color:white;

}
.container{
     background: darkcyan;
        color: aliceblue;
        padding: 20px;
        border-radius: 10px;
}
.input{
    border:none;
  width: 100%;
    font-size: 20px;
    height: 30px;
  
  
}
.payment{
   font-weight: 600;
    font-size: 20px;
}
.btn{
    background-color:lightcoral;
    color:white;
    border:none;
    border-radius:3px ;
    font-family: 'Courier New', Courier, monospace;

}